<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ComfyUI Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="./lib/litegraph.css" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <link rel="stylesheet" type="text/css" href="./user.css" />
</head>
<body class="litegraph" style="text-align: center;">
    <h2>ComfyUI Login</h2>
    <div id="feedback" style="margin: 20px;">
        {% if wrong_password %}
            <p>Wrong Password.</p>
        {% endif %}
        {% if prompt_for_username %}
            <p>Please also set a username.</p>
        {% endif %}
        {% if first_time %}
            <p>Welcome!</p>
            <p>For your first login, please enter a new username and password.</p>
            <p>Your password will be securely saved for future access.</p>
            <p>On subsequent visits, you can use this password to log in.</p>
        {% endif %}
    </div>
    <form action="/login" method="post">
        {% if first_time or prompt_for_username %}
            <label>Username:</label><input type="text" name="username" placeholder="Enter username" required><br>
        {% else %}
            <p>Welcome back, {{ username }}!</p>
        {% endif %}
        <br>
        <label>Password:</label><input type="password" name="password" placeholder="Enter password" required>
        <br><br>
        <input type="submit" value="Login" class="comfy-btn">
        <br><br>
        <a href="https://github.com/liusida/ComfyUI-Login/blob/main/locked_out.md" style="color:white; font-size:x-small" target="_blank">Locked Out?</a>
    </form>
</body>

</html>
